:root {
    --s_0: 0;
    --s_hair: 0.15rem;
    --s_1: 0.25rem;
    --s_2: 0.5rem;
    --s_3: 0.75rem;
    --s_4: 1rem;
    --s_5: 1.5rem;
    --s_6: 2rem;
    --s_7: 3rem;
    --s_8: 4rem;
    --s_9: 6rem;
    --s_10: 8rem;
    --s_list: 1.15rem;
    --s_list_num: 1.75rem;

    --r_sm: 4px;
    --r_md: 8px;
    --r_lg: 14px;
    --r_full: 999px;
}
